<nav>
  <div class="show-pc">
    <div>
      <nav>
        <ul>
          <div>
            <li><a routerLink="/">Inicio</a></li>
          </div>
        </ul>
        <ul>
          <div>
            <li><a routerLink="/login">Iniciar Sesión</a></li>
          </div>
        </ul>
        <ul>
          <div>
            <li><a routerLink="/register">Registrarse</a></li>
          </div>
        </ul>
      </nav>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<footer>
  <p>&copy; 2023 Mi Página. Todos los derechos reservados.</p>
</footer>
