<nav>
  <div class="show-pc">
    <div>
      <nav>
        <ul>
          <li><a href="">Iniciar Sesion</a></li>
          <li><a href="">Registrarse</a></li>
        </ul>
      </nav>
    </div>
  </div>
</nav>
<div class="container">
  <div class="slider">
    <div class="slide">
      <img src="./assets/images/hotel.jpg" alt="Imagen 1">
    </div>
    <div class="slide">
      <img src="./assets/images/room.jpg" alt="Imagen 2">
    </div>
    <div class="slide">
      <img src="./assets/images/pool.jpg" alt="Imagen 3">
    </div>
  </div>
</div>
